{% extends 'base.html' %}
{% load static %}
{% block Main_Content %}
  
    <style>
    .dropbtn {
      padding: 15px;
      font-size: 18px;
      min-width: 500px;
      border: none;
      cursor: pointer;
      color: #000;
      text-align: left;
}
    
    /* Style for dropdown content */
    .dropdown-content {
      display: none; /* Hidden by default */
      background-color: #000;
      position: absolute;
      min-width: 500px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-bottom:  solid #00bfe7;
      border-right:  solid #00bfe7;
      border-left:  solid #00bfe7;
      border-top:  solid #00bfe7;
    }
    
    /* Style for each content div */
    .dropdown-content div {
      padding: 10px 5px;
    }
    
    /* Highlight dropdown options on hover */
    .dropdown-content div:hover {
      background-color: #000;

    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
      width:150px;
      position: relative;
      margin-bottom:50px;

    }
    
    /* Highlight dropdown button when dropdown menu is open */
    .dropdown:hover .dropbtn {
      background-color: #B2F6E0;
     
    }
</style>
    
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Carrers</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index' %}">Home</a>
                            <span>Carrers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                {% comment %} <div class="col-lg-6">
                    <div class="about__pic">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="about__pic__item about__pic__item--large set-bg"
                                    data-setbg="{% static 'img/about/about-1.jpg' %}"></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="about__pic__item set-bg" data-setbg="{% static 'img/about/about-2.jpg' %}"></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="about__pic__item set-bg" data-setbg="{% static 'img/about/about-3.jpg' %}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                <div class="col-lg-12 text-center">
                    {% comment %} <div class="about__text"> {% endcomment %}
                        <div class="section-title">
                            <h2 class="col-lg text-center"> We are always looking for people with great potential and enthusiasm to join our team.</h2>
                        </div>
                        <div class="row">
                        <div class= "container">
                                <div class="services__item">
                            
                                    <h4>- Hiring now</h4>
                                    <h5 style="color:#fff"> If you are one of them, send your CV to hr</h5>
                                
                                </div>
                               </div>
                            <article>
                            <span class="dropdown">
                            <button class="dropbtn">iOS Developer</button>
                            <div class="dropdown-content">
                            
                                <div class="col-lg-12 text-left">
                                    <p>We are looking for an iOS developer responsible for the development and maintenance of applications aimed at a range of iOS
                                        devices including mobile phones and tablet computers. You will be working alongside other engineers and developers working on different layers of the infrastructure.
                              
                                    </p>
                                    <p> 𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒</p>
                                        <p>✓ Relevant education</p>
                                        <p>✓ 4 years of experience</p>
                                        <p>✓ Attention to detail</p>
                                    </div>
                            </div>
                            </span>
                        </article>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br><br><br><br>
                        <article >
                            <span  class="dropdown">
                            <button class="dropbtn">web Developer</button>
                            <div class="dropdown-content">
                            
                                <div class="col-lg-12 text-left">
                                    <p> We are looking for an web developer, should focus on the responsibilities of the new hire. To ensure that our next hire has experience with the right programming languages and web services, be specific about the job responsibilities.
                              
                                    </p>
                                    <p> 𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒</p>
                                        <p>✓ Builds, designs, and maintains all websites and software applications.</p>
                                        <p>✓ Understands UI, cross-browser compatibility, and general web functions and standards.</p>
                                        <p>✓ Executes assignments with the use of web applications, scripts, and programming languages such as HTML, CSS, JavaScript, and APIs.</p>
                                        <p>✓ Designs assignments with web services like REST, SOAP, etc.</p>
                                    </div>
                            </div>
                            </span>
                        </article>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br><br><br><br>
                        <article>
                            <span class="dropdown">
                            <button class="dropbtn">Android Developer</button>
                            <div class="dropdown-content">
                            
                                <div class="col-lg-12 text-left">
                                    <p>We are searching for a brilliant, flexible android developer to create novel apps that meet the needs of our target audience. To this end, the android developer's responsibilities include writing and proofreading code, liaising with coworkers within and outside of their department, and monitoring customers' feedback. Over time, you will also be required to create app updates.
                              
                                    </p>
                                    <p> 𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒</p>
                                        <p>✓ Degree in software development, computer science, or similar.</p>
                                        <p>✓ Proficiency in Java, Kotlin, or C++.</p>
                                        <p>✓ Ability to use the Android Studio, including the Android SDK, with ease.</p>
                                        <p>✓ Excellent coding and proofreading skills.</p>
                                    </div>
                            </div>
                            </span>
                        </article>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br><br><br><br>
                        <article>
                            <span class="dropdown">
                            <button class="dropbtn">IoT developers</button>
                            <div class="dropdown-content">
                            
                                <div class="col-lg-12 text-left">
                                    <p>We are Hiring IoT developers who can help you build smart solutions that connect smartphones with remote devices. Our dedicated IoT app development teams are rated among the top 1% experts in India and have gained excellence in delivering IoT app development services for all business sizes and industry verticals at up to 60% less cost.
                              
                                    </p>
                                    <p> 𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒</p>
                                        <p>✓ Working knowledge of Raspberry Pi or Arduino and MXChip development boards required.</p>
                                        <p>✓ Should have good knowledge and experience in various Low Power RF Wireless Technologies / Protocols like ZigBee, Wi-Fi, Bluetooth, GSM, GPRS, etc.</p>
                                        <p>✓ Experience with AWS, Google Cloud, other cloud hosted platforms preferred.</p>
                                        <p>✓ Should have Programming experience with Embedded C, C++, Node.js, Python, and MySQL.</p>
                                        <p>✓ Should Posses good knowledge and experience in various Protocols like TCP/IP, Ethernet, UART, I2C, SPI etc.</p>
                                    </div>
                            </div>
                            </span>
                        </article>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% comment %} <br><br><br><br>
                        <article>
                            <span class="dropdown">
                            <button class="dropbtn">iOS Developer</button>
                            <div class="dropdown-content">
                            
                                <div class="col-lg-12 text-left">
                                    <p>We are looking for an iOS developer responsible for the development and maintenance of applications aimed at a range of iOS
                                        devices including mobile phones and tablet computers. You will be working alongside other engineers and developers working on different layers of the infrastructure.
                              
                                    </p>
                                    <p> 𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒</p>
                                        <p>✓ Relevant education</p>
                                        <p>✓ 4 years of experience</p>
                                        <p>✓ Attention to detail</p>
                                    </div>
                            </div>
                            </span>
                        </article>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br><br><br><br>
                        <article>
                            <span class="dropdown">
                            <button class="dropbtn">iOS Developer</button>
                            <div class="dropdown-content">
                            
                                <div class="col-lg-12 text-left">
                                    <p>We are looking for an iOS developer responsible for the development and maintenance of applications aimed at a range of iOS
                                        devices including mobile phones and tablet computers. You will be working alongside other engineers and developers working on different layers of the infrastructure.
                              
                                    </p>
                                    <p> 𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒</p>
                                        <p>✓ Relevant education</p>
                                        <p>✓ 4 years of experience</p>
                                        <p>✓ Attention to detail</p>
                                    </div>
                            </div>
                            </span>
                        </article> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- About Section End -->

              
    {% endblock Main_Content %}