<div class="WM_GLOBAL_secondary-font FAQ1styled__FaqsWrapper-sc-fengh8-7 lkyXil">
    <div class="FAQ1styled__Faqs-sc-fengh8-8 szCJB">
      <article class="FAQ1styled__FaqItemWrap-sc-fengh8-9 bkxzCo">
        <div class="FAQ1styled__FaqItemHeader-sc-fengh8-10 dceXFd">
          <h2 class="FAQ1styled__FaqItemHeaderText-sc-fengh8-11 undefined sm-word-wrap EditableContent__styledAsRef-sc-15za8y8-0 fCroMx">iOS Developer</h2>
        </div>
        <div class="FAQ1styled__FaqContentWrapper-sc-fengh8-13 gTGjcw">
          <p class="FAQ1styled__FaqContent-sc-fengh8-14 undefined sm-word-wrap EditableContent__styledAsRef-sc-15za8y8-0 iWiOIA">We are looking for an iOS developer responsible for the development and maintenance of applications aimed at a range of iOS
            devices including mobile phones and tablet computers. You will be working alongside other engineers and developers working on different layers of the infrastructure.
  
            𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒
            ✓ Relevant education
            ✓ 4 years of experience&nbsp;
            ✓ Attention to detail&nbsp;</p>
        </div>
      </article>
      <article class="FAQ1styled__FaqItemWrap-sc-fengh8-9 bkxzCo">
        <div class="FAQ1styled__FaqItemHeader-sc-fengh8-10 dceXFd">
          <h2 class="FAQ1styled__FaqItemHeaderText-sc-fengh8-11 undefined sm-word-wrap EditableContent__styledAsRef-sc-15za8y8-0 fCroMx">HR Assistant</h2>
        </div>
        <div class="FAQ1styled__FaqContentWrapper-sc-fengh8-13 gTGjcw">
          <p class="FAQ1styled__FaqContent-sc-fengh8-14 undefined sm-word-wrap EditableContent__styledAsRef-sc-15za8y8-0 iWiOIA">We are looking for an HR administrative assistant to perform a variety of personnel-related administrative tasks. You will
            support the HR department in duties like posting job ads, updating HR database and processing employees requests.
  
            𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒
            ✓ Degree in HR
            ✓ 2 years of experience
            ✓ Organizational skills</p>
        </div>
      </article>
      <article class="FAQ1styled__FaqItemWrap-sc-fengh8-9 bkxzCo">
        <div class="FAQ1styled__FaqItemHeader-sc-fengh8-10 dceXFd">
          <h2 class="FAQ1styled__FaqItemHeaderText-sc-fengh8-11 undefined sm-word-wrap EditableContent__styledAsRef-sc-15za8y8-0 fCroMx">Customer Support Specialist</h2>
        </div>
        <div class="FAQ1styled__FaqContentWrapper-sc-fengh8-13 gTGjcw">
          <p class="FAQ1styled__FaqContent-sc-fengh8-14 undefined sm-word-wrap EditableContent__styledAsRef-sc-15za8y8-0 iWiOIA">We are looking for a friendly and highly analytical Customer Support Specialist to join our customer care team. In this
            role, you will answer customer queries and resolve issues via appropriate channels, obtain customer feedback, and provide training to new hires.
  
            𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒
            ✓ 3 years of experience
            ✓ Multi-tasking abilities
            ✓ Familiarity with our industry</p>
        </div>
      </article>
    </div>
    <div class="FAQ1styled__Faqs-sc-fengh8-8 szCJB">
      <article class="FAQ1styled__FaqItemWrap-sc-fengh8-9 bkxzCo">
        <div class="FAQ1styled__FaqItemHeader-sc-fengh8-10 dceXFd">
          <h2 class="FAQ1styled__FaqItemHeaderText-sc-fengh8-11 undefined sm-word-wrap EditableContent__styledAsRef-sc-15za8y8-0 fCroMx">Android Developer</h2>
        </div>
        <div class="FAQ1styled__FaqContentWrapper-sc-fengh8-13 gTGjcw">
          <p class="FAQ1styled__FaqContent-sc-fengh8-14 undefined sm-word-wrap EditableContent__styledAsRef-sc-15za8y8-0 iWiOIA">We are looking for an Android Developer who possesses a passion for pushing mobile technologies to the limits. This Android
            app developer will work with our team of talented engineers to design and build the next generation of our mobile applications.&nbsp;
  
            𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒
            ✓ Relevant education
            ✓ 4 years of experience&nbsp;
            ✓ Attention to detail&nbsp;</p>
        </div>
      </article>
      <article class="FAQ1styled__FaqItemWrap-sc-fengh8-9 bkxzCo">
        <div class="FAQ1styled__FaqItemHeader-sc-fengh8-10 dceXFd">
          <h2 class="FAQ1styled__FaqItemHeaderText-sc-fengh8-11 undefined sm-word-wrap EditableContent__styledAsRef-sc-15za8y8-0 fCroMx">Receptionist</h2>
        </div>
        <div class="FAQ1styled__FaqContentWrapper-sc-fengh8-13 gTGjcw">
          <p class="FAQ1styled__FaqContent-sc-fengh8-14 undefined sm-word-wrap EditableContent__styledAsRef-sc-15za8y8-0 iWiOIA">We are looking for a Receptionist to be responsible for greeting clients and visitors to our office. You will be in charge
            of giving clients directions to various parts of the office, contacting employees regarding visitors, answering phones and taking messages, and sorting and distributing mail.
  
            𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒
            ✓ 1 years of experience
            ✓ Communication skills
            ✓ Multi-tasking abilities</p>
        </div>
      </article>
    </div>
  </div>